/.cache
/build
/dist
/docs
/logs
/temp
/tmp
.data
.output
.github
.vscode
.DS_Store
.DS_Store?
.dockerignore
.sentryclirc
.git/
.gitignore
*.sqlite*
*.db*
*.md
Dockerfile
node_modules
npm-debug.log
compose.env*
README.md
DEPLOY.md
*.profraw
*.log
.env.*
!.env.example
docker-compose*.yaml
compose*.yaml
/docs/
/data/
/storage/
/specs/
target/
config.toml*
!config.toml.example
