# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.cache
.pnpm-store
node_modules
dist/
build/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
.idea
.DS_Store
.DS_Store?
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# envars
.env*
!.env.example

# Rust
target/

# fly.toml
fly*.toml*
!fly*.example.toml
