# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json

name: sorai

services:
  mailpit:
    image: axllent/mailpit:${MAILPIT_VERSION:-latest}
    restart: unless-stopped
    hostname: mailpit
    volumes: ['mailpit_data:/data:rw']
    ports: ['1025:1025', '8025:8025']
    environment:
      TZ: Asia/Jakarta
      MP_TAGS_USERNAME: true
      MP_DISABLE_VERSION_CHECK: true
      MP_ALLOW_UNTRUSTED_TLS: true
      MP_UI_BIND_ADDR: 0.0.0.0:8025
      MP_SMTP_BIND_ADDR: 0.0.0.0:1025
      MP_SMTP_AUTH_ALLOW_INSECURE: true
      MP_SMTP_AUTH: 'maileruser1:mailerpass1 maileruser2:mailerpass2'
    extra_hosts: ['host.docker.internal:host-gateway']
    networks: ['sorai_network']

  prometheus:
    image: prom/prometheus:latest
    container_name: sorai_prometheus
    restart: always
    ports: ['3390:3390']
    volumes: ['./docker/prometheus.yml:/etc/prometheus/prometheus.yml:ro']
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.listen-address=:3390'
    extra_hosts: ['host.docker.internal:host-gateway']
    networks: ['sorai_network']

  grafana:
    image: grafana/grafana:latest
    container_name: sorai_grafana
    restart: always
    ports: ['3300:3300']
    environment:
      GF_SERVER_HTTP_PORT: '3300'
      GF_SERVER_HTTP_ADDR: '0.0.0.0'
      GF_PATHS_PROVISIONING: '/etc/grafana/provisioning'
      GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH: '/var/lib/grafana/dashboards/sorai-dashboard.json'
      GF_SECURITY_DISABLE_INITIAL_ADMIN_CREATION: 'false' # Disable initial admin creation
      GF_SECURITY_ADMIN_EMAIL: 'admin@example.com' # Default admin email for Grafana
      GF_SECURITY_ADMIN_PASSWORD: 'admin' # Default admin password for Grafana
      GF_SECURITY_ADMIN_USER: 'admin' # Default admin user for Grafana
      GF_FEEDBACK_LINKS_ENABLED: 'false' # Disable feedback links
      GF_USERS_ALLOW_SIGN_UP: 'false' # Disable user sign up
      GF_USERS_ALLOW_ORG_CREATE: 'false' # Disable organization creation
    volumes:
      - './docker/grafana/provisioning:/etc/grafana/provisioning:ro'
      - './docker/grafana/dashboards:/var/lib/grafana/dashboards:ro'
    extra_hosts: ['host.docker.internal:host-gateway']
    networks: ['sorai_network']
    depends_on:
      - prometheus

volumes:
  mailpit_data:
    driver: local

networks:
  sorai_network:
    driver: bridge
